{% load static %}
<!-- plugins:css -->
 <link rel="stylesheet" href="{% static 'admin-panel/vendors/simple-line-icons/css/simple-line-icons.css' %}">
 <link rel="stylesheet" href="{% static 'admin-panel/vendors/flag-icon-css/css/flag-icon.min.css' %}">
 <link rel="stylesheet" href="{% static 'admin-panel/vendors/css/vendor.bundle.base.css' %}">
 
 <!-- inject:css -->
 <!-- endinject -->
 <!-- Layout styles -->
 <link rel="stylesheet" href="{% static 'admin-panel/css/style.css' %}">
 <!-- End layout styles -->