   {% load static %}
   <!-- plugins:js -->
   <script src="{% static 'admin-panel/vendors/js/vendor.bundle.base.js' %}"></script>
   <!-- endinject -->
   <!-- Plugin js for this page -->
   <script src="{% static 'admin-panel/vendors/chart.js/Chart.min.js' %}"></script>
   <script src="{% static 'admin-panel/vendors/moment/moment.min.js' %}"></script>
   <script src="{% static 'admin-panel/vendors/daterangepicker/daterangepicker.js' %}"></script>
   <script src="{% static 'admin-panel/vendors/chartist/chartist.min.js' %}"></script>
   <!-- End plugin js for this page -->
   <!-- inject:js -->
   <script src="{% static 'admin-panel/off-canvas.js' %}"></script>
   <script src="{% static 'admin-panel/misc.js' %}"></script>
   <!-- endinject -->
   <!-- Custom js for this page -->
   <script src="{% static 'admin-panel/js/dashboard.js' %}"></script>
   <!-- End custom js for this page -->