  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="index.html">Kyrgyzindustry</a></h1>
        <small>Открытое Акционерное Общество</small>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li class="dropdown"><a href="#"><span>Общество</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Цели и Задачи</a></li>
              <li><a href="#">Руководство</a></li>
              <li><a href="#">Об обществе</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#about">Конкурсы</a></li>
          <li><a class="nav-link scrollto" href="#services">Деятельность</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">Пресс-центр</a></li>
          <li><a class="nav-link scrollto" href="#team">Руководство</a></li>
          <li><a class="nav-link scrollto" href="#pricing">Контакты</a></li>
          <li><a class="getstarted scrollto" href="#about">Об Обществе</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>
