{% extends 'admin/admin_base.html' %}

{% block content %}

{% url 'news_all' as news %}

<div class="container d-flex justify-content-center mt-5" style="width: 50%;">
    <div class="col mt-5 text-center">
        <h1 class="mb-5">Удаление записи</h1>

        <p class="h5">Вы точно хотите Удалить этот Запись?</p>
        <form action="{% url 'news_all' %}" method="POST">
            {% csrf_token %}
            <input type="submit" class="btn btn-primary btn-lg" value="Да" style="margin-right: 30px; margin-top: 30px;">
            <input type="submit" class="btn btn-danger btn-lg" style="margin-top: 30px;" onclick="window.location='{{news}}'; return false;" value="Нет">
        </form>
    </div>
</div>
{% endblock %}