{% extends 'admin/admin_base.html' %}
{% load static %}
{% block content %}


<div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title">Добавление новых новостей</h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Новости</a></li>
          <li class="breadcrumb-item active" aria-current="page">Добавить новую запись</li>
        </ol>
      </nav>
    </div>
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
        <div class="card-body">
            <h4 class="card-title">Добавить Новости</h4>
            <form class="forms-sample" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.Title.id_for_label }}" class="font-weight-bold">Тема</label>
                {{ form.Title }}
                {{ form.Title.errors }}
            </div>
            <div class="form-group">
                <label for="{{ form.Short_Description.id_for_label }}" class="font-weight-bold">Краткое описание</label>
                {{ form.Short_Description }}
                {{ form.Short_Description.errors }}
            </div>
            <div class="form-group">
                <label for="{{ form.Description.id_for_label }}" class="font-weight-bold">Описание</label>
                {{ form.Description }}
                {{ form.Description.errors }}
            </div>
            
            <div class="form-row">
                <div class="col form-group">
                    <label for="{{ form.Date_added.id_for_label }}" class="font-weight-bold">Выберите дату:</label>
                    {{ form.Date_added }}
                </div>
                <div class="col form-group">
                    <label for=" {{ form.Language.id_for_label }}" class="font-weight-bold">Выберите Язык:</label>
                    {{ form.Language }}
                </div>
            </div>
           
            <div class="form-group">
                <label for="{{ form.Gallery.id_for_label }}" class="font-weight-bold">Выберите галерею:</label>
                {{ form.Gallery }}
                {{ form.Gallery.errors }}
            </div>
            {% url 'news_all' as news_all %}
            <button type="submit" class="btn btn-primary mr-2">Сохранить</button>
            <a href="{{news_all}}"  class="btn btn-light">Отменить</a>
            </form>
        </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block custom_js%}
<!-- plugins:js -->
<script src="{% static 'admin-panel/vendors/js/vendor.bundle.base.js' %}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="{% static 'admin-panel/js/off-canvas.js' %}"></script>
<script src="{% static 'admin-panel/js/misc.js' %}"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<!-- End custom js for this page -->
{% endblock custom_js %}