{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block page_title %}{% endblock page_title %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'client/img/favicon.png' %}" rel="icon">
  <link href="{% static 'client/img/favicon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  {% include 'blocks/links.html' %}
  {% block slider_links %}
   <!-- Additional CSS Files -->
 <link rel="stylesheet" href="{% static 'slider/css/fontawesome.css' %}">
 <link rel="stylesheet" href="{% static 'slider/css/templatemo-woox-travel.css' %}">
 <link rel="stylesheet" href="{% static 'slider/css/owl.css' %}">
 <link rel="stylesheet" href="{% static 'slider/css/animate.css' %}">
 <link rel="stylesheet"href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
{% endblock slider_links %}

{% include 'blocks/slider_links.html' %}
</head>
<body>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();
    for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
    k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
 
    ym(90695866, "init", {
         clickmap:true,
         trackLinks:true,
         accurateTrackBounce:true
    });
 </script>
 <noscript><div><img src="https://mc.yandex.ru/watch/90695866" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
 <!-- /Yandex.Metrika counter -->

    <!-- ======= Header ======= -->
    {% include 'blocks/header.html' %}
    <!-- End Header -->
   
    <!-- ======= Block Content ======= -->
    {% block content %} {% endblock content %}
    <!-- End Block Content -->
   
    <!-- ======= Footer ======= -->
    {% include 'blocks/footer.html' %}
    <!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- ======= scripts ======= -->
    {% include 'blocks/scripts.html' %}
    <!-- End scripts -->
  </body>
   
  </html>