  {% load static %}
  <!-- Vendor CSS Files -->
  <link href="{% static 'client/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'client/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'client/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'client/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'client/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'client/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'client/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'client/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'client/css/styleform.css' %}" rel="stylesheet">
