{% load static %}
<!-- Vendor JS Files -->
<script src="{% static 'client/vendor/purecounter/purecounter_vanilla.js' %}"></script>
<script src="{% static 'client/vendor/aos/aos.js' %}"></script>
<script src="{% static 'client/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'client/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'client/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'client/vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'client/vendor/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->

<script src="{% static 'client/js/main.js' %}"></script>